<!-- blog/templates/blog/base.html -->
<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}El Meu Blog{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
</head>
<body>

    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand" href="/">El Meu Blog</a>
            <a class="navbar-link" href="{% url 'post-list' %}">Posts</a>
            <a class="navbar-link" href="{% url 'authors-list' %}">Autors</a>
            <a class="navbar-link" href="{% url 'tags-list' %}">Tags</a>
        </div>
    </nav>

    <!-- Contingut principal -->
    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <!-- Peu de pàgina -->
    <footer>
        <p>&copy; 2025 El Meu Blog - Desenvolupat per Sergio</p>
    </footer>

</body>
</html>
