{% load static %}
<div class="post-card">
    <img src="{% static 'blog/imatges/' %}{{ post.image_name }}" alt="{{ post.title }}">
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.excerpt }}</p>
        <small class="text-muted">
            Per <a href="{% url 'author-detail' post.author.id %}">{{ post.author }}</a> - {{ post.date }}
        </small>
        <a href="{% url 'post-detail' post.slug %}" class="btn btn-primary mt-2">Llegir més</a>
    </div>
</div>
